.inverted,
.fancy {
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 28px;
}

.Inverted {
 
    background-color: black;
    color: white;
}

.Fancy {
    background-color: yellow;
}